@import '../config/font.scss';

.header__navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 30px 30px 20px 30px;
  font-family: 'Gugi', cursive;
}

.header__navigation--logo {
  font-size: 25px;
  font-weight: 1200;
  letter-spacing: 3px;
  color: white;
  &.isDark {
    color: black;
  }
}
